<ActionBar class="actionbar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="ABOUT US"></Label>
    <ActionItem ios.position="right" os.position="right" class ="navigation" >
        <Label text="&#xf137;" class="nt-icon fas" nsRouterLink="/home"></Label>
  </ActionItem>
</ActionBar>

<GridLayout cplumns="1*,*" rows="*,60">
  <StackLayout  col="0" row="0" >
    <Image src="res://sideimage"  stretch="Fill" ></Image>
</StackLayout>
<StackLayout class="about-title">
  <Label text="iTukutuku me baleta na "></Label>
  <Label text ="Application qoka"></Label>
</StackLayout>
        <FlexboxLayout class ="about-list"  col='1' row ='0' flexDirection="row">
        <GridLayout >
          <ListView  [items]="details">
          <ng-template let-item="item">
              <GridLayout  class="list-group-item" columns="*,auto">
                 <Label col="0" textWrap="true" [text]="item.details" [visibility]="item.visible ? 'collapse' : 'visible'"></Label>
                 <Label col="0" textWrap="true" [text]="item.title" [visibility]="item.visible ? 'visible' : 'collapse'"></Label>
                 <Label col=1 text ="show" class="fas" [text]="item.visible ? '&#xf067;' : '&#xf068;'" (tap)="toggle(item)"></Label>

              </GridLayout>
          </ng-template>
          </ListView>
          </GridLayout>
        </FlexboxLayout>

  <StackLayout row="1" orientation="horizontal">
    <GridLayout columns="auto, auto, auto" >
      <label col ="0" class="ab-left" text="English"></label>
      <StackLayout class ="ab-center"  col="1" >
        <Switch color="white" backgroundColor="white" offBackgroundColor="white" class="about-switch" checked="true" (checkedChange)="onCheckedChange($event)"></Switch>
      </StackLayout>
      <label col ="2" class ="ab-right" text="Vosa Vokabau"></label>
    </GridLayout>
  </StackLayout>
</GridLayout>

