<ActionBar class="actionbar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="TIKINA"></Label>
    <ActionItem ios.position="right" os.position="right" class ="navigation" >
        <Label text="&#xf002;" class="nt-icon fas" nsRouterLink="/search"></Label>
  </ActionItem>
  <ActionItem ios.position="right" os.position="right" class ="navigation" >
    <Label text="&#xf137;" class="nt-icon fas" nsRouterLink="/home"></Label>
</ActionItem>

</ActionBar>

<GridLayout cplumns="1*,*" rows="*,60">
    <StackLayout  col="0" row="0" >
      <Image src="res://sideimage"  stretch="Fill" ></Image>
  </StackLayout>

    <StackLayout *ngIf="details"; then loggedIn >
    </StackLayout>

          <FlexboxLayout class ="about-list" col='1' row ='0' flexDirection="row">
          <GridLayout>
            <ListView [items]="details" #logginIn >
            <ng-template let-group="item" >
                <StackLayout>
                <ScrollView>
                <ListView [items]="group.province" height="900">
                    <ng-template let-item="item">
                        <GridLayout class="list-group-item" columns="1*, 1*" width="500">
                            <Label  col ="0" [nsRouterLink]="['/district', item]" [text]= "item" pageTransition="slideleft" ></Label>
                            <Label  text="&#xf054;" class="fas" col="1" ></Label>

                        </GridLayout>
                    </ng-template>
                </ListView>
                </ScrollView>
                </StackLayout>
                </ng-template>
                </ListView>
            </GridLayout>
          </FlexboxLayout>

    <StackLayout row="1" orientation="horizontal">
      <GridLayout columns="auto, auto, auto" >
        <label col ="0" class="ab-left" text="Map View"></label>
        <StackLayout class ="ab-center"  col="1" >
          <Switch color="white" backgroundColor="white" offBackgroundColor="white" class="about-switch" checked="true" (checkedChange)="onCheckedChange($event)"></Switch>
        </StackLayout>
        <label col ="2" class ="ab-right" text="List View"></label>
      </GridLayout>
    </StackLayout>
  </GridLayout>









<!--Testing Below-->
<!-- <GridLayout columns="auto,*" rows="*,auto">

    <StackLayout  col="0" row="0" >
        <Image src="res://sideimage"  stretch="Fill" ></Image>
    </StackLayout>

    <StackLayout *ngIf="details"; then loggedIn >
    </StackLayout>

    <StackLayout  col="1" row="0" >



    <ListView [items]="details" #logginIn >
        <ng-template let-group="item" let-i="index" let-odd="odd" let-even="even">

            <StackLayout>

             <ScrollView orientation="horizontal">
                <ListView [items]="group.province" height="1000" width="500">
                <ng-template let-item="item">
                <GridLayout android:useDefaultMargins="true" class="test" columns="1*, 1*" rows="1*,1*" width="500" height="50">

                <Label class="list-province" [nsRouterLink]="['/district', item]" [text]="item" col="0" row="0"  pageTransition="slideRight"></Label>

                <Label class ="arrow-icon" text="&#xf054;" class="fas" col="1" row="0" ></Label>
            </GridLayout>
        </ng-template>
        </ListView>
        </ScrollView>
        </StackLayout>
        </ng-template>
    </ListView>
    </StackLayout>

    <StackLayout class ="bottom-left" row="1", col="0"  alignItems="right" >
        <Label class="fas" ></Label>
     </StackLayout>
     <StackLayout class ="bottom-right" row="1", col="1" >

         <Label  class="fas" ></Label>
     </StackLayout> -->
       <!-- <StackLayout row="1", col="0" colSpan="2">
            <SearchBar  hint="Search"
            color="white" backgroundColor="#dad6d6"
            textFieldHintColor="yellow"
            textFieldBackgroundColor="white"
            class="search-bar"
            ></SearchBar>
        </StackLayout> -->
<!--
        <StackLayout class ="dialogue1" row="1", col="0"  alignItems="right" >
            <Label text=" &#xf137;  Map View" class="fas" ></Label>
         </StackLayout>
         <StackLayout class ="dialogue" row="1", col="1" >

             <Label text=" List View  &#xf138; " class="fas" a></Label>
         </StackLayout> -->

         <!-- <ScrollableView>
            <StackLayout  class ="dialogue1" row="1", col="0" colSpan="2">
                <SearchBar  hint="Search() "
                color="black" backgroundColor="#9B111E"
                textFieldHintColor="yellow"
                textFieldBackgroundColor="white"
                class="search-bar"
                ></SearchBar>
            </StackLayout>
        </ScrollableView> -->

<!-- </GridLayout> -->


