<ActionBar class="actionbar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <ActionItem ios.position="right" os.position="right" >
        <Image  src="res://left_arrow"  stretch="aspectFill"  class="navigation" *ngIf="canGoBack" (tap)="onGoBack()"></Image>
      </ActionItem>
      
    <Label class="regional-name" text="I CAVUTI"></Label>
 
</ActionBar>
<GridLayout id = "background-color">
<GridLayout cplumns="1*,*" rows="*,60">
    <StackLayout  col="0" row="0" >
      <Image src="res://sideimage"  stretch="Fill" ></Image>
  </StackLayout>

    <StackLayout *ngIf="villageData"; then loggedIn >
    </StackLayout>

          <FlexboxLayout  class="list-content" flexDirection="row">

            <ListView [items]="villageData" #logginIn >
            <ng-template let-group="item" >
                <StackLayout>
                    <Label class="confederacy"  [text]="group.village_name"  ></Label>
                    <StackLayout class="hr"></StackLayout>
                        <GridLayout   >
                             <Label   class ="confederacy" textWrap="true"   text="{{group.acknowledgement}}"  col="1" row="0" ></Label>
                        </GridLayout>
            </StackLayout>
                </ng-template>
                </ListView>

          </FlexboxLayout>

         <StackLayout class ="bottom-left" row="1", col="0"  alignItems="right" >
            <Label class="fas" ></Label>
         </StackLayout>
         <StackLayout class ="bottom-right-ack" row="1", col="1" >

             <Label  class="fas" ></Label>
         </StackLayout>
  </GridLayout>
</GridLayout>



