<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="I CAVUTI"></Label>
    <!-- <NavigationButton android.systemIcon="ic_menu_back" ></NavigationButton> -->

</ActionBar>




<StackLayout *ngIf="villageData"; then loggedIn >

</StackLayout>


<ListView [items]="villageData" #logginIn>
    <ng-template let-group="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout>
            <GridLayout android:useDefaultMargins="true" class="test"  columns="*, 2*" rows="2*, 3*"  height="40"  >

            <Label class="list-province"  [text]="group.village_name" col="0" row="0" ></Label>

            <Label class ="arrow-icon" [text]="group.acknowledgement" class="fas" col="1" row="0" ></Label>
        </GridLayout>
    </StackLayout>>
    </ng-template>
</ListView>
