<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed"  (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="KORO"></Label>
    <!-- <NavigationButton android.systemIcon="ic_menu_back" ></NavigationButton> -->

</ActionBar>


<GridLayout columns="auto,*" rows="*">
    <StackLayout  col="0" row="0" >
        <Image src="res://sideimage"  stretch="Fill" ></Image>
    </StackLayout>
<StackLayout *ngIf="districtData"; then loggedIn >
</StackLayout>
<StackLayout  col="1" row="0" >
<ListView [items]="districtData" #logginIn>
    <ng-template let-group="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout>
            <Label class="list-province"  [text]="group.district_name" ></Label>
            <StackLayout class="hr"></StackLayout>
            <GridLayout android:useDefaultMargins="true" class="test" columns="1*, 1*" rows="auto,auto"  height="40"  *ngFor="let village of group.village" >

            <Label class="list-province" [nsRouterLink]="['/acknowledgement', village]" [text]="village" col="0" row="0" ></Label>

            <Label class ="arrow-icon" text="&#xf0a9;" class="fas" col="1" row="0" ></Label>
        </GridLayout>
    </StackLayout>>
    </ng-template>
</ListView>
</StackLayout>
</GridLayout>
