<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="CONTACT US"></Label>
</ActionBar>


<GridLayout class="page__content">

<FlexboxLayout flexDirection="column">
    <StackLayout class = "contact-label">

        <Label text="Ministry of Fijian Affairs"></Label>

    </StackLayout>
    <StackLayout>
        <TextField required hint="Your First Name" [(ngModel)]="textField" #element></TextField>
        <TextField required hint="Your Last Name" [(ngModel)]="textField" #element></TextField>
        <TextField required hint="Your Email" [(ngModel)]="textField" #element></TextField>
        <TextField required hint="Type your message here" [(ngModel)]="textField" #element></TextField>
    </StackLayout>

<FlexboxLayout class="about-button" alignItems="center">
  <Button class="btnBack" text="Back"></Button>
  <Button class="btnSend" text ="Send"></Button>
</FlexboxLayout>

</FlexboxLayout>
</GridLayout>
