<ActionBar class="actionbar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="CONTACT US"></Label>

    <ActionItem ios.position="right" os.position="right" class ="navigation" >
        <Label text="&#xf137;" class="nt-icon fas" nsRouterLink="/home"></Label>
  </ActionItem>
</ActionBar>


<GridLayout class="page__content" id ="background-color">
    <GridLayout columns="auto,*" rows="*,auto">
        <StackLayout  col="0" row="0" >
            <Image src="res://sideimage"  stretch="Fill" ></Image>
        </StackLayout>

<StackLayout  col="1" row="0" >
<FlexboxLayout flexDirection="column">
    <StackLayout class = "contact-label">

        <Label text="Ministry of Fijian Affairs"></Label>

    </StackLayout>
    <StackLayout class ="contact-form">
        <TextField hint = "Your First Name" returnKeyType="next"  required ngModel #fname ="ngModel"></TextField>
        <label
        *ngIf ="!fname.valid && fname.touched"
        text ="Please enter a valid first name"></label>

        <TextField hint="Your Last Name" required ngModel #lname ="ngModel"></TextField>
        <label
        *ngIf ="!lname.valid && lname.touched"
        text ="Please enter a valid last name"></label>

        <TextField hint="Your Email"  keyboardType="email"  required ngModel #email="ngModel"></TextField>
        <label
        *ngIf ="!email.valid && email.touched"
        text ="Please enter a valid email address"></label>

        <TextView hint="Type your message here"  returnKeyType="done" required ngModel #message="ngModel"></TextView>
        <label *ngIf ="!message.valid && message.touched"
        text ="Please enter a valid message"></label>

    </StackLayout>

<FlexboxLayout class="about-button" alignItems="center">
  <Button class="btnBack" text="Back" (tap) = "onGoBack()"></Button>
  <Button class="btnSend" text ="Send" [isEnabled] ="fname.valid && lname.valid && email.valid && message.valid" (tap)="newContact(fname.value, lname.value, email.value,message.value)"></Button>
</FlexboxLayout>

</FlexboxLayout>

</StackLayout>

<StackLayout class ="dialogue1" row="1", col="0"  alignItems="right" >
    <Label  class="fas" ></Label>
 </StackLayout>
 <StackLayout class ="dialogue" row="1", col="1" >

     <Label   class="fas"></Label>
 </StackLayout>
 <StackLayout class ="bottom-left" row="1", col="0"  alignItems="right" >
    <Label class="fas" ></Label>
 </StackLayout>
 <StackLayout class ="bottom-right" row="1", col="1" >

     <Label  class="fas" ></Label>
 </StackLayout>
</GridLayout>

</GridLayout>
