<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer   [drawerTransition]="sideDrawerTransition" >
    <GridLayout   tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout  row="0" class="nt-drawer__header" class ="actionbar">
            <Image class="nt-drawer__header-image fas t-36" src="font://"></Image>
            <!-- <Label class="nt-drawer__header-brand" text=""></Label> -->

            <!-- <Label class="nt-drawer__header-footnote" text="username@mail.com"></Label> -->
        </StackLayout>

        <ScrollView  row="1"  class="nt-drawer__body">
            <GridLayout columns="auto"  class ="sidedraw-background" >
                <StackLayout  col="0" >
                    <Image src="res://sideimage"  stretch="Fill" ></Image>
                </StackLayout>

                <StackLayout class ="sidedraw-menu" >

                <GridLayout id="push-image-down" columns="auto,*" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <!-- <Label col="0" text="&#xf015;" class="nt-icon fas"></Label> -->
                    <Image  class="home-icon" col ="0"  src="res://bureicon"  stretch="aspectFit" ></Image>
                    <Label class="icon-names" col="1"  text="HOME" ></Label>
                </GridLayout>

                <GridLayout id="push-image-down" columns="auto,*" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/about')" (tap)="onNavItemTap('/about')">
                    <!-- <Label col="0" text="&#xf059;" class="nt-icon fas"></Label> -->
                    <Image class="about-icon" col ="0"  src="res://tabuacon"  stretch="aspectFit" ></Image>
                    <Label class="icon-names" col="1"  text="ABOUT US" ></Label>
                </GridLayout>

                <GridLayout id="push-image-down" columns="auto, *"   class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/contact')" (tap)="onNavItemTap('/contact')">
                    <!-- <Label col="0" text="&#xf2b9;" class="nt-icon fas"></Label> -->
                    <Image class ="contact-icon" col ="0"  src="res://davuiicon"  stretch="aspectFit" ></Image>
                    <Label class="icon-names" col="1"  text="CONTACT US" ></Label>
                </GridLayout>


                <GridLayout id="push-image-down" columns="auto, *"  class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/cavuti')" (tap)="onNavItemTap('/cavuti')">
                    <!-- <Label col="0" text="&#xf013;" class="nt-icon fas"></Label> -->
                    <Image class="cavuti-icon" col ="0"  src="res://tanoaicon"  stretch="aspectFit" ></Image>
                    <Label class="icon-names" col="1" text="CAVUTI" ></Label>
                </GridLayout>

                <GridLayout id="push-English-down" class="drawer-switch" columns="1*,1*" rows="auto" >
                    <label class = "english" row ="0" col ="0"  text="English"></label>
                    <StackLayout row="0 "  col="1" >
                      <Switch color="maroon" backgroundColor="maroon" offBackgroundColor="maroon" id="about-switch" checked="false" (checkedChange)="onCheckedChange($event)"></Switch>
                    </StackLayout>
                </GridLayout>
            </StackLayout>


        </GridLayout>

        </ScrollView>

    </GridLayout>

    <page-router-outlet   tkMainContent >

    </page-router-outlet>


</RadSideDrawer>



