<ActionBar class="actionbar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text=""></Label>
    <!-- <ActionItem ios.position="right" os.position="right" class ="navigation" >
        <Label text="&#xf137;" class="nt-icon fas" nsRouterLink="/home"></Label>
  </ActionItem> -->
</ActionBar>


  <FlexboxLayout  flexDirection="column">
    <Image src="res://slide3"  stretch="aspectFill" ></Image>

    </FlexboxLayout>
    <GridLayout cplumns="1*,*" rows="*,60">
  <StackLayout row="1" orientation="horizontal">
    <GridLayout columns="auto, auto, auto" >
      <label id="bottom-bar-text" col ="0" class="ab-left" text="Map View"></label>
      <StackLayout class ="ab-center"  col="1" >
        <Switch color="white" backgroundColor="white" offBackgroundColor="white" class="about-switch" checked="false" (checkedChange)="onCheckedChange($event)"></Switch>
      </StackLayout>
      <label id="bottom-bar-text" col ="2" class ="ab-right" text="List View"></label>
    </GridLayout>
  </StackLayout>
</GridLayout>

