<ActionBar title="" class="actionbarack"></ActionBar>
<!-- <FlexboxLayout  class="acknowledgement" flexDirection="column" backgroundColor="#5F0B10"> -->
      <!-- <Image class="imagealign" src="res://acknowledgement"  stretch="aspectFill" ></Image> -->
      <!-- <FlexboxLayout flexDirection="column" width="300" height="300" backgroundColor="lightgray">
            <Label text="Label 1" width="70" height="70" backgroundColor="red"/>
            <Label text="Label 2" width="70" height="70" backgroundColor="green"/>
            <Label text="Label 3" width="70" height="70" backgroundColor="blue"/>
            <Label text="Label 4" width="70" height="70" backgroundColor="yellow"/>
          </FlexboxLayout> -->
<FlexboxLayout  class="acknowledgement" flexDirection="column" backgroundColor="#5F0B10">

      <label class="textColor"  text=" Content developed and" ></label>
      <label class="textColor" text="supplied by:" ></label>

      <Image class="image-alignment" src="res://moia_logo"  stretch="aspectFit" ></Image>

      <label class="textColor" textWrap ="true" text=" App design & development:"></label>

      <Image class="secondimage-alignment" src="res://uow_logo"  stretch="aspectFit" ></Image>



 </FlexboxLayout>




