<ActionBar >
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left=">
    </ActionItem>
    <Label text="MATANITU"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ActionBar>
        <!--
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"
        android.position="right"></NavigationButton>

        <!--
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://menu"  android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <Label text="MATANITU"></Label>

        <ActionItem ios.position="right" os.position="right" class ="navigation" >
            <Label text="&#xf002;" class="nt-icon fas" nsRouterLink="/search"></Label>
      </ActionItem>

    </ActionBar>


    <!-- <GridLayout columns="auto,*" rows="*">
        <StackLayout  col="0" row="0" >
            <Image src="res://sideimage"  stretch="Fill" ></Image>
        </StackLayout>

        <StackLayout  col="1" row="0" >
            <ListView  [items]="dataList">
                <ng-template let-item="item">
                    <FlexboxLayout flexDirection="row">
                        <GridLayout   columns="1*, 1*" rows="1*,1*"  width="500" height="50" >
                            <Label class="confederacy" [nsRouterLink]="['/province', item.confederancy_name]" [text]= "item.confederancy_name" pageTransition="slideLeft" ></Label>
                            <Label class ="arrow-icon" text="&#xf054;" class="fas" col="1" row="0" ></Label>
                        </GridLayout>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
        </StackLayout>
      </GridLayout>

      <StackLayout>
        <ns-search></ns-search>
    </StackLayout>
 -->



<GridLayout columns="auto,*" rows="*,auto">
        <StackLayout  col="0" row="0" >
            <Image src="res://sideimage"  stretch="Fill" ></Image>
        </StackLayout>

        <StackLayout  col="1" row="0" >
            <ListView  [items]="dataList">
                <ng-template let-item="item">
                    <FlexboxLayout flexDirection="row">
                        <GridLayout   columns="1*, 1*" rows="1*,1*"  width="500" height="50" >
                            <Label class="confederacy" [nsRouterLink]="['/province', item.confederancy_name]" [text]= "item.confederancy_name" pageTransition="slideLeft" ></Label>
                            <Label class ="arrow-icon" text="&#xf054;" class="fas" col="1" row="0" ></Label>
                        </GridLayout>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
        </StackLayout>



        <!-- <StackLayout row="1", col="0" colSpan="2">
            <SearchBar  hint="Search"
            color="white" backgroundColor="#dad6d6"
            textFieldHintColor="yellow"
            textFieldBackgroundColor="white"
            class="search-bar"
            ></SearchBar>
        </StackLayout> -->
        <StackLayout class ="dialogue1" row="1", col="0"  alignItems="right" >
           <Label text=" &#xf137;  English" class="fas" ></Label>
        </StackLayout>
        <StackLayout class ="dialogue" row="1", col="1" >

            <Label text=" Vosa Vokabau  &#xf138; " class="fas" a></Label>
        </StackLayout>
      </GridLayout>














